@font-face {
  font-family: "press_start_2pregular";
  src: url("./pressstart2p-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "press_start_2pregular", serif;
  color: aliceblue;
}
button {
  font-family: "press_start_2pregular", serif;
}

#game-UI-and-canvas-holder {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#UIdiv {
  background-color: black;
}
